body {
  padding: 10px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.category-menu, .subject-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.category-menu li {
  display: inline-block;
  padding: 20px;
}

.subject-menu li {
  padding: 10px;
}

.subject-menu li.selected {
  background-color: #222;
  color: white;
}

.category-header {
  text-align: center;
}

/* left column */
.subject-list {
  float: left;
  width: 20%;
}

/* right column */
.add-subject,
.subject-detail {
  padding-left: 20px;
  float: right;
  width: 75%;
}

.add-subject,
.add-photo {
  padding-bottom: 20px;
  border-bottom: 1px solid #222;
}

.add-photo {
  padding-top: 20px;
}

.photo-details {
  border-bottom: 1px solid #222;
}

.photo-image img {
  width: 300px;
}

.image-date {
  font-weight: bold;
}

.form-field {
  margin-right: 20px;
}