<h2><%= @category.name %></h2>

<ul class="subject-list">
  <% @category.subjects.each do |subject| %>
    <li><%= link_to(subject.name, subject_path(subject)) %></li>
  <% end %>
</ul>

<p class="button"><%= link_to('Add a Subject', new_subject_path) %></p>

<p class="button"><%= link_to('Back to Category List', categories_path) %></p>